services:
  datadog-agent:
    image: gcr.io/datadoghq/agent:latest
    environment:
      DD_API_KEY: "///"
      DD_SITE: "us5.datadoghq.com"
      DD_APM_ENABLED: "true"
    ports:
      - "8126:8126"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /proc:/host/proc:ro
      - /sys/fs/cgroup:/host/sys/fs/cgroup:ro

  api:
    build: .
    depends_on:
      - datadog-agent
    environment:
      ASPNETCORE_ENVIRONMENT: Development

      DD_SERVICE: datadog1-api
      DD_ENV: dev
      DD_VERSION: "1.0.0"
      DD_AGENT_HOST: datadog-agent

      COMPlus_EnableDiagnostics: "1"
      
      # OFFICIAL .NET tracer vars
      CORECLR_ENABLE_PROFILING: "1"
      CORECLR_PROFILER: "{846F5F1C-F9AE-4B07-969E-05C26BC060D8}"
      CORECLR_PROFILER_PATH: "/opt/datadog/Datadog.Trace.ClrProfiler.Native.so"
      DD_DOTNET_TRACER_HOME: "/opt/datadog"

      DD_TRACE_STARTUP_LOGS: "true"
    ports:
      - "8080:8080"
